/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: rgb(238, 0, 0);
    background: #111;
    overflow-x: hidden;
}
/* trying */
#hero {
    position: relative;
    overflow: hidden;
}

.textcontents {
    position: relative;
    z-index: 1; /* Ensure text is above the canvas */
    color: white; /* Change text color to improve visibility */
    text-align: center;
}

/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
    opacity: 0.8;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.Anish {
    transition: 0.5s color, 0.5s transform; /* Adjust duration as needed */
}

.Anish:hover {
    cursor: pointer;
    color: rgb(255, 15, 15);
    transform: scale(1.1); }


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.social-icons a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s color, 0.5s transform;
}

.social-icons a:hover {
    color: rgb(255, 15, 15);
    transform: scale(1.1);
}




